body{
	display: flex;
	flex-direction: column;
}
canvas{
	border: 2px solid black;
	margin-top: 50px;
	align-self: center;
	
	width: 1600px;
	height: 1200px;
	image-rendering: crisp-edges;
}

img {
  image-rendering: crisp-edges;
}